body {
  margin: 0;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(18, 18, 19) !important;
  color: white !important;
}

header {
  font-family: "nyt-karnakcondensed";
  font-weight: 700;
  font-size: 37px;
  line-height: 100%;
}

.container {
  justify-content: center;
  text-align: center;
}

.defaultCard {
  background-color: gray !important;
  font-size: 40px;
}

.card {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
}