body {
  margin: 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(18, 18, 19) !important;
  color: white !important;
}

header {
  font-family: "nyt-karnakcondensed";
  font-weight: 700;
  font-size: 37px;
  line-height: 100%;
}

.container {
  justify-content: center;
  text-align: center;
}

.wordBoxContainer {
  min-height: 70vh;
  padding: 5%;
}
